// PLEASE USE AUTOPREFIXER DURING CSS CONVERSION

$primary-color: #1e91e5; // blue
$success-color: #2AD14F; // green
$failure-color: #f63e43; // red
$warning-color: #E5B600; // yellow orange

#static_contact_form {
  position: relative;
  max-width: 1000px;
  margin: auto;
  * {
    box-sizing: border-box;
  }
}

.cf-button {
  position: relative;
  width: 100%;
  background-color: $primary-color;
  border: .3em solid $primary-color;
  text-align: center;
  font-weight: 600;
  color: #fff;
  font-size: 1em;
  font-family: inherit;
  outline: none;
  cursor: pointer;
  text-decoration: none;
  padding: .75em;
  border-radius: 3px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
  opacity: .9;
  transition: opacity .25s, transform .3s;
  &:hover, &:focus {
    opacity: 1;
  }
  &[disabled] {
    opacity: 1;
  }
  span:first-of-type {
    position: relative;
    z-index: 1;
    &::before {
      content: '';
      background-image: url('data:image/svg+xml;charset=UTF8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20485.211%20485.211%22%20fill%3D%22%23fff%22%3E%3Cpath%20d%3D%22M485.2%20364c0%2010.5-3%2020.4-7.8%2029L324.2%20221.8%20475.8%2089c6%209.4%209.4%2020.4%209.4%2032.3V364zM242.6%20252.7l211-184.5c-8.8-4.7-18.5-7.6-29-7.6h-364c-10.5%200-20.2%203-28.8%207.6l210.8%20184.5zm58.8-11.2l-48.8%2042.8c-3%202.5-6.4%203.7-10%203.7-3.6%200-7-1-10-3.6l-48.8-42.8-155%20173.6c9.2%206%2020%209.4%2032%209.4h363.8c11.7%200%2022.6-3.5%2032-9.4L301.3%20241.6zM9.4%2089C3.6%2098.5%200%20109.5%200%20121.4V364c0%2010.5%203%2020.4%207.8%2029L161%20221.7%209.4%2089z%22%2F%3E%3C%2Fsvg%3E');
      background-repeat: no-repeat;
      background-position: left center;
      padding-left: 1.45em;
      background-size: 1.1em;
    }
  }
  span.loading-bar {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $success-color;
    transform-origin: left;
    transform: scaleX(0);
    transition: transform .7s ease-out, background-color 2s;
    &.cf-warn {
      background-color: $warning-color;
    }
  }
}

.cf-but-sent {
  transform: none!important;
}

// class to display error button
.cf-but-false {
  background-color: $failure-color;
  border-color: $failure-color;
  span {
    &::before {
      background-image: url('data:image/svg+xml;charset=UTF8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20485.249%20485.249%22%20fill%3D%22%23fff%22%3E%3Cpath%20d%3D%22M481.2%20420.6l-219-380c-4-7-11-11-19-11s-15%204-19%2011l-221%20382c-10%2017%205%2033%2019%2033h442c12%200%2021-10%2021-22%200-5-1-9-4-13zm-421-9l183-317%20183%20317h-366z%22%2F%3E%3Cpath%20d%3D%22M221.2%20192.6v97c0%2012%2010%2022%2022%2022s22-10%2022-22v-97c0-12-10-22-22-22s-22%2010-22%2022zM243.2%20330.6c-15%200-27%2012-27%2027s12%2028%2027%2028%2027-13%2027-28-12-27-27-27z%22%2F%3E%3C%2Fsvg%3E')!important;
    }
  }
}

// class to display success button
.cf-but-true {
  background-color: $success-color;
  border-color: $success-color;
  span {
    &::before {
      background-image: url('data:image/svg+xml;charset=UTF8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2070%2070%22%20fill%3D%22%23fff%22%3E%3Cpath%20d%3D%22M26.5%2070c-2.2%200-4.3-1-5.6-2.8L3%2043.6c-2.3-3-1.7-7.4%201.4-9.7%203-2.5%207.4-1.8%209.8%201.2L26%2050.7%2055.4%203.3C57.5%200%2061.8-1%2065%201c3.3%202%204.3%206.4%202.3%209.7l-35%2056c-1%202-3.2%203.2-5.5%203.3h-.3z%22%2F%3E%3C%2Fsvg%3E')!important;
    }
  }
}

.cf-input {
  position: relative;
  z-index: 1;
  display: inline-block;
  width: calc(50% - .3em);
  &:first-of-type {
    margin-right: .3em;
  }
  &:nth-of-type(2) {
    margin-left: .3em;
  }
}

.cf-textarea {
  width: 100%;
  textarea {
    height: 200px;
    resize: vertical;
  }
}

.cf-input-field {
  position: relative;
  display: block;
  padding: 1em;
  border: none;
  border-radius: 3px;
  font-size: 1em;
  font-family: inherit;
  -webkit-appearance: none; /* for box shadows to show on iOS */
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.15);
  width: 100%;
  background: #fff;
  color: #444;
  transition: box-shadow 0.3s;
  &:focus {
    box-shadow: 0px 0px 0px 2px #77B1E4;
    outline: none;
  }
}

.cf-input-error {
  box-shadow: 0px 0px 0px 2px $failure-color;
}

.cf-label {
  font-weight: bold;
  font-size: .75em;
  user-select: none;
  padding: 0;
  width: 100%;
  text-align: left;
  &::after {
    content: '';
    position: absolute;
    top: 0;
    z-index: -1;
    width: 100%;
    height: calc(100% - 2.8em);
    box-shadow: 0px 0px 0px 0px;
    color: rgba(46, 143, 229, 0.8);
  }
}

.cf-label-content {
  position: relative;
  display: block;
  padding: .7em .2em;
  width: 100%;
  opacity: .7;
}

.cf-input-field:focus + .cf-label::after {
  animation: anim-shadow 0.3s forwards;
}

@keyframes anim-shadow {
  to {
    box-shadow: 0px 0px 80px 30px;
    opacity: 0;
  }
}
